@import "../core/style/themes/index.scss";

$counter-prefix: sir-counter;

@mixin disabled {
    color: $disabled-color;
    background-color: $disabled-bg;
    cursor: not-allowed;
}

.sir-counter {
    display: flex;
    
}

.sir-counter-input {
    margin: 0 2px;
    border-radius: unset;
}

.sir-counter-plus,
.sir-counter-minus {
    position: relative;
    margin: 0;
    padding: 0;

    line-height: 32px;
    font-size: 20px;
}

.sir-counter-btn-disabled {
    @include disabled();
}
