@import "../core/style/themes/index.scss";


@mixin divider {
    position: relative;
    
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #ebedf0;
        transform: scaleY(0.5);
    } 
}

@mixin action-button {
    height: $sku-action-button-height;
    flex: 1;
    border: none;

    color: #ffffff;
    font-size: 14px;

    &:focus {
        outline: 0;
    }
}


.sir-sku {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sir-sku-header {
    display: flex;

    &-left {
        position: relative;
        width: 96px;
        height: 96px;
        margin: 12px 0;
        overflow: hidden;
        background: #f7f8fa;
        border-radius: 4px;

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 96px;
        padding: 12px 20px 12px 8px;

        overflow: hidden;
    }

    &-item {
        margin-top: 8px;
        color: #969799;
        font-size: $font-size-sm;
        line-height: 16px;

    }
}

.sir-sku-body {
    flex: 1;
}

.sir-sku-price {
    font-size: $font-size-lg + 6px;

    &-wrapper {
        color: #ee0a24;
    }

    &-tag {
        font-size: $font-size-lg;
        vertical-align: bottom;
    }
}


.sir-sku-row {
    position: relative;
    
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        color: #ebedf0;
        transform: scaleY(0.5);
    } 

    margin: 0 16px 12px;

    &-title {
        padding-bottom: 12px;
        cursor: default;

        .sir-sku-row-multiple-text {}
    }

    &-items {
        display: flex;
    }

    &-item {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        margin: 0 12px 12px 0;
        overflow: hidden;
        color: #323233;
        font-size: $font-size-base;
        line-height: 16px;
        vertical-align: middle;
        border-radius: 4px;
        cursor: pointer;

        &.sir-sku-row-item-selected {
            color: #ee0a24;

            &::before {
                background: currentColor;
                opacity: 0.1;
            }
        }

        &.sir-sku-row-item-disabled {
            color: lightgrey;
            cursor: not-allowed;
            &::before {
                background: currentColor;
                opacity: 0.1;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f7f8fa;
            content: "";
        }
    }

    &-item-img {
        z-index: 1;
        width: 24px;
        height: 24px;
        margin: 4px 0 4px 4px;
        object-fit: cover;
        border-radius: 2px;
    }

    &-item-name {
        z-index: 1;
        padding: 8px;
    }
}

.sir-sku-stock {
    display: flex;
    padding: 12px 16px;

    &-title {
        flex: 1;
    }

    &-stepper {
        flex: 2;
    }
}


.sir-sku-action {
    display: flex;
    padding: 8px 16px;

    &-button {
        @include action-button();

        background: $sku-action-button-bg-main;
        border-radius: $sku-action-border-radius;
    }

    &-left-button {
        @include action-button();

        background: $sku-action-button-bg-normal;
        border-radius: $sku-action-border-radius 0 0 $sku-action-border-radius;
    }

    &-right-button {
        @include action-button();

        background: $sku-action-button-bg-main;
        border-radius: 0 $sku-action-border-radius $sku-action-border-radius 0;
    }
}