<sir-drawer [visible]="visible" (sirOnClose)="close()" [placement]="'bottom'" [height]="'auto'" [bodyStyle]="bodyStyle">
    <div class="sir-sku">
        <header class="sir-sku-header">
            <div class="sir-sku-header-left">
                <img [src]="''">
            </div>
            <div class="sir-sku-header-right">
                <div class="sir-sku-price-wrapper">
                    <span class="sir-sku-price-tag">{{ priceTag }}</span>
                    <span class="sir-sku-price">{{ selectedResult?.price }}</span>
                </div>
                <div class="sir-sku-header-item">剩余 {{ selectedResult?.stockCount}} {{quantifier}}</div>
                <div class="sir-sku-header-item">{{selectionText$ | async}}</div>
            </div>
        </header>
        <section class="sir-sku-body">
            <div class="sir-sku-group">
                <ng-container *ngFor="let category of (specCtegories$ | async)">
                    <sir-sku-row 
                        [title]="category.name" 
                        [type]="'spec'" 
                        [items]="category.specs"
                        (sirOnSelect)="select($event)"
                    ></sir-sku-row>
                </ng-container>

                <!-- <ng-container *ngFor="let category of propCategories;"> -->
                    <!-- <sir-sku-row  -->
                        <!-- [title]="category.name"  -->
                        <!-- [type]="'property'"  -->
                        <!-- [items]="category.properties"  -->
                        <!-- [isMultiple]="category.isMultiple" -->
                        <!-- (sirOnSelect)="select($event)" -->
                    <!-- ></sir-sku-row> -->
                <!-- </ng-container> -->
            </div>
            <div class="sir-sku-stock">
                <div class="sir-sku-stock-title">{{stepperTitle}}</div>
                <div class="sir-sku-stock-counter"><sir-counter></sir-counter></div>
            </div>
        </section>
        <footer class="sir-sku-action">
            <button sir-button class="sir-sku-action-left-button">{{actionLeftText}}</button>
            <button sir-button class="sir-sku-action-right-button">{{actionRightText}}</button>
        </footer>
    </div>

</sir-drawer>