@import "../../style/themes/index.scss";
@import "./mixin.scss";
$btn-prefix: sir-btn;

$btn-ghost-color: $text-color;
$btn-ghost-bg: transparent;
$btn-ghost-border: $border-color-base;



.#{$btn-prefix} {
    @include btn();

    line-height: $line-height-base;

    &-primary {
    }

    &-default {
    }

    &-dash {
    }
}
