@import "../../style/themes/index.scss";
@import "../../style/functions.scss";

@mixin btn-color($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;
}

@mixin btn-size($height, $padding-horizontal, $font-size, $btn-border-radius) {
    $padding-vertical: max(round(($height - $font-size * $line-height-base) / 2 * 10) / 10 - $border-width-base, 0);
    height: $height;
    padding: $padding-vertical $padding-horizontal;
}

@mixin btn {
    @include btn-size($btn-height-base, $btn-padding-horizontal-base, $font-size-base, $btn-border-radius-base);

    position: relative;
    display: inline-block;
    font-weight: $btn-font-weight;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: $btn-border-width $btn-border-style transparent;
    box-shadow: $btn-shadow;
    cursor: pointer;
    transition: all 0.3s $ease-in-out;
    user-select: none;
    touch-action: manipulation;

    &,
    &:active,
    &:focus {
        outline: 0;
    }
    &:not([disabled]):hover {
        text-decoration: none;
    }
    &:not([disabled]):active {
        outline: 0;
        box-shadow: none;
    }
    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        > * {
            pointer-events: none;
        }
    }
    &-lg {
        @include btn-size($btn-height-lg, $btn-padding-horizontal-lg, $font-size-lg, $btn-border-radius-lg);
    }
    &-sm {
        @include btn-size($btn-height-sm, $btn-padding-horizontal-sm, $font-size-sm, $btn-border-radius-sm);
        line-height: $btn-height-sm - 2px;
    }
}

@mixin btn-disabled($color: $btn-disable-color, $background: $btn-disable-bg, $border: $btn-disable-border) {
    &-disabled,
    &.disabled,
    &[disabled] {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            @include btn-color($color, $background, $border);

            text-shadow: none;
            box-shadow: none;
        }
    }
}

@mixin btn-variant-primary($color, $background) {
    @include btn-color($color, $background, $background);

    text-shadow: $btn-text-shadow;
    box-shadow: $btn-primary-shadow;

    &:hover,
    &:focus {
        @include btn-color($color, colorPalette($color, 4), colorPalette($color, 4));
    }

    &:active,
    &.active {
        @include btn-color($color);
    }

    @include btn-disabled();
}

@mixin btn-variant-other($color, $background, $border) {
    @include btn-color($color, $background, $border);

    &:hover,
    &:focus {
        @include btn-color();
    }
    &:active,
    &.active {
        @include btn-color();
    }
    @include btn-disabled();
}

@mixin btn-variant-ghost($color, $border, $color) {
    @include btn-color($color, transparent, border);
    text-shadow: none;
    &:hover,
    &:focus {
        @include btn-color($color, transparent, transparent);
    }

    &:active,
    &.active {
        @include btn-color($color, $border, $color);
    }
    @include btn-disabled();
}

@mixin btn-primary() {
    @include btn-variant-primary($btn-primary-color, $btn-primary-bg);
}
