@import "../core/style/themes/index.scss";


@mixin disabled {
    color: $disabled-color;
    background-color: $disabled-bg;
    cursor: not-allowed;
}

.sir-stepper {
    display: flex;
    
}

.sir-stepper-input {
    margin: 0 2px;
    border-radius: unset;
}

.sir-stepper-plus,
.sir-stepper-minus {
    position: relative;
    margin: 0;
    padding: 0;

    line-height: 32px;
    font-size: 20px;
}

.sir-stepper-btn-disabled {
    @include disabled();
}
